.container {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 80px;
  margin-left: 280px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열 그리드 */
  gap: 40px; /* 그리드 아이템 사이의 간격 */
  padding: 20px;
  width: 60%;
  align-items: center;
  justify-content: center;
}

.nutritionist-item {
  padding: 20px;
  text-align: center;
  background-color: rgb(236, 234, 234);
}
.nutritionist-name {
  font-size: 18px; /* 이름의 폰트 크기 */
  font-weight: bold; /* 글씨 두껍게 */
  margin: 30px 0px 30px 0px; /* 이름 아래 마진 추가 */
}
.profile_text {
  margin-bottom: 10px;
}
.profile_button {
  cursor: pointer;
  border: none;
  background-color: #ff9200;
  border-radius: 10px;
  width: 140px;
  height: 40px;
  margin-top: 10px;
  color: white;
}
